.auth-page-title {
    text-decoration: line-through;
    font-size: 8vmin
}

p.login-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75vmin;
}

p.slogan {
    font-family: 'Anonymous Pro', monospace;
    font-size: 2vmin;
}

.auth-page {
    background-image: url('https://i.imgur.com/RnxQ8Rq.png');
    height: 105vmin;
}

main.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-option-btn {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.343);
    color: white;
    border: none;
    padding: 0.75vmin;
}

.login-option-btn:hover {
    transform: scale(1.2);
}

p.error-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vmin;
    margin: 0;
}

.Bucket-Lister-Logo {
    height: 20vmin;
    width: 35.57vmin;
    margin-left: 10vmin;
}