img.delete-icon {
    height: 1.5vmin;
    display: flex;
    padding: 0.5vmin 0;
}

img.edit-icon {
    height: 1.5vmin;
    display: flex;
    padding: 0.5vmin 0.4vmin 0 0;
}

img.edit-icon:hover, img.delete-icon:hover {
    height: 2vmin;
    display: flex;
    padding: 0.5vmin 0;
}

.edit-list-item, .delete-list-item {
    border: none;
    height: 3vmin;
    background-color: transparent;
}

.bucket-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin-bottom: 1vmin;
    width: 40vmin;
}

.bucket-list-item > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vmin;
}

.check-off {
    height: 4vmin;
    width: 4vmin;
    border: lightgrey;
    margin-right: 2vmin;
    background-color: white;
}

.list-item-with-check-off {
    display: flex;
    align-items: center;
}