img.delete-icon {
    height: 1.5vmin;
    display: flex;
    padding: 0.5vmin 0;
}

img.edit-icon {
    height: 1.5vmin;
    display: flex;
    padding: 0.5vmin 0.4vmin 0 0;
}

img.edit-icon:hover, img.delete-icon:hover {
    transform: scale(1.5);
}

.edit-list-item, .delete-list-item {
    border: none;
    height: 3vmin;
    background-color: transparent;
}

div.bucket-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin-bottom: 1vmin;
    width: 40vmin;
}

.bucket-list-item > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vmin;
}

.check-off {
    height: 4vmin;
    width: 4vmin;
    margin-right: 2vmin;
}

.check-off:hover {
    transform: scale(1.2);
}

.list-item-with-check-off {
    display: flex;
    align-items: center;
}

.edit-title-form {
    background-color:rgba(0, 0, 0, 0.343);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 1vmin;
    width: 36vmin;
    padding: 0 2vmin;
}

.edit-title-form > input {
    background-color: transparent;
    width: 40vmin;
    height: 4.5vmin;
}

.submit-title-change {
    background-color: black;
    font-size: 1.5vmin;
}

.submit-title-change:hover {
    transform: scale(1.2);
}