.done-item-with-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vmin;
    padding: 0 1vmin;
}

.done-item-object {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vmin;
    text-decoration: line-through;
    padding: 1vmin;
}

div.done-list-item {
    background-color: black;
    width: 40vmin;
    height: 6vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-off {
    accent-color: white;
    /* outline: 0.1vmin solid black; */
}

