.details-page {
    background-image: url('https://i.imgur.com/wDXv112.png');
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vmin;
    margin-top: 6vmin;
}

.edit-and-delete-btns {
    margin-top: -8vmin;
    height: 3vmin;
    float: right;
}

img.edit-details-icon,
img.delete-details-icon {
    height: 2vmin;
    display: flex;
}

img.edit-details-icon:hover,
img.delete-details-icon:hover {
    display: flex;
    height: 3vmin;
}

.delete-details-btn {
    background-color: black;
    margin: 1vmin 8vmin 1vmin 1vmin;
    padding: 1vmin 0.5vmin;
}

.edit-details-btn {
    background-color: black;
    margin: 1vmin;
    padding: 1vmin 1vmin;
}

.what,
.when,
.where,
.who,
.note,
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30vmin;
}

.details-page > div > div > h3 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 4vmin;
}

.details-page > div > div > p {
    font-family: 'Anonymous Pro', monospace;;
    font-size: 2vmin;
}

.details-page > div > div > h1 {
    font-size: 6.5vmin;
    margin-top: 10vmin;
}

.notes-and-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.note {
    margin: 0 2vmin 0 40vmin;
}
.link {
    margin: 0 40vmin 0 0;
}

.link > p > a {
    color: black;
}