.details-page {
    background-image: url('https://i.imgur.com/wDXv112.png');
    margin-top: 6vmin;
}

.details-page-form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 120vmin;
}

.edit-and-delete-btns {
    margin-top: -12vmin;
    height: 3vmin;
    float: right;
}

img.edit-details-icon,
img.delete-details-icon {
    height: 2vmin;
    display: flex;
}

.edit-details-btn:hover,
.delete-details-btn:hover {
    transform: scale(1.2);
}

.delete-details-btn {
    background-color: black;
    margin: 1vmin 8vmin 1vmin 1vmin;
    padding: 1vmin 0.5vmin;
}

.edit-details-btn {
    background-color: black;
    margin: 1vmin;
    padding: 1vmin 1vmin;
}

.what,
.when,
.where,
.who,
.note,
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -1vmin 30vmin;
}

.what {
    margin-top: 4vmin;
}

.details-title {
    font-family: 'Anonymous Pro', monospace;
    font-size: 4vmin;
}

.detail-text {
    font-family: 'Anonymous Pro', monospace;;
    font-size: 2vmin;
    width: 35vmin;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.what-title {
    font-size: 6.5vmin;
}

.notes-and-link {
    display: flex;
    justify-content: flex-start;
}

.details-link {
    color: black;
}

.submit-details-change {
    background-color: black;
    padding: .75vmin 2.5vmin;
    font-size: 1.5vmin;
    margin: 1.5vmin 0 0 4.5vmin;
    width: 12vmin;
}

.submit-details-change:hover {
    transform: scale(1.2);
}

.scroll {
    height: 6vmin;
    overflow-x: hidden;
    overflow-y: auto;
}

.details-input {
    width: 35vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    resize: none;
    font-size: 2vmin;
}

.what-detail-text {
    font-size: 3vmin;
}