.done-page {
    background-image: url('https://i.imgur.com/lpXSibG.png');
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vmin;
    margin: 0
}

.done-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10vmin 30vmin 0 30vmin;
}

.done-page > h1 {
    font-size: 8vmin;
    padding-top: 5vmin;
}