.done-page {
    background-image: url('https://i.imgur.com/lpXSibG.png');
}

.done-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10vmin 30vmin 0 30vmin;
}

.done-heading {
    font-size: 8vmin;
    padding-top: 5vmin;
    margin-left: 28vmin;
}